<div class="container py-5">
    <h1 class="mb-5">Cart</h1>

    <div class="row">
        <div class="col-md-8">
            <% if @cart.orderables.count > 0 %>
                <%= render 'cart/orderables' %>
            <% else %>
                <p>Your cart is empty</p>
            <% end %>
        </div>
        <div class="col-md-4 text-center py-4 fw-bold" style="background: #f2f2f2; height: max-content;">
            <p class="mb-0 ">ORDER SUMMARY</p>
            <hr>
            <div class="d-flex justify-content-between">
                <p class="total">
                    Order Total
                </p>
                <p class="bill">
                    <%= number_to_currency(@cart.total, unit: '₦') %>
                </p>
            </div>
            <div>
                <%= button_to 'Checkout', checkout_create_path, class: "btn btn-lg btn-dark rounded-5 w-100", data: { turbo: false } %>
            </div>
        </div>
    </div>
</div>