<div class="container py-4">
    <h1>Cart</h1>

    <% if @cart.orderables.count > 0 %>
        <%= render 'cart/orderables' %>
        <strong>Total: </strong>
        <%= @cart.total %>
    <% else %>
        <p>Your cart is empty</p>
    <% end %>
</div>