<div class="container">
    <h1>Payment Cancelled</h1>
    
    <% if params[:reference].present? %>
    <div>

        <%# transaction_id = 3046924522 %>
        <% transaction_reference = params[:reference] %>
        <%# transactions = PaystackTransactions.new(paystack) %>
        <% result = PaystackTransactions.verify(@paystack, transaction_reference) %>

        <%= result['data'] %>
        <hr>
        <%= result['data']['metadata']['custom_fields']['value'.to_i] %>
    </div>
    <% end %>
</div>