<div class="container my-3">

    <%= link_to sanitize("&larr; Back to banners page"), admin_banners_path %>

    <div class="header pt-2">
        <h1>New Banner</h1>
        <p>Add a new banner item</p>
    </div>
    <hr>
    <br>
    <div class="form">
        <%= render 'admin/banners/form', banner: @banner %>
    </div>
</div>