<div class="container my-3">
    <div class="header pt-2">
        <h1>New Category</h1>
        <p>Add a new category item</p>
    </div>
    <hr>
    <br>
    <div class="form">
        <%= render 'admin/categories/form', category: @category %>
    </div>
</div>