<div class="container my-3">
    <div class="header pt-2">
        <h1>Edit Product</h1>
        <p>Edit an existing product item</p>
    </div>
    <hr>
    <br>
    <div class="form">
        <%= render 'admin/products/form', product: @product %>
    </div>
</div>