<section class="category" style="background-image: url(<%= rails_blob_url(@category.banner.image) %>); background-color: #000; background-repeat: no-repeat, repeat; background-position: center; background-size: 100%;">

  <div class="pt-3">
    <%= render 'products/category_list' %>
  </div>

  <h1 class="banner-label text-center text-white w-md-100 w-lg-50 mx-auto" style="margin: 3em 0;">
    <%= @category.banner.label %>
  </h1>
</section>

<div class="container border-top py-5">
  <div class="row">
    <%= render @category.products %>
  </div>
</div>


