<div class="container my-3">
    <div class="header pt-2">
        <h1>New User</h1>
        <p>Add a new user</p>
    </div>
    <hr>
    <br>
    <div class="form">
        <%= render 'admin/users/form', user: @user %>
    </div>
</div>