<div class="container border-top py-5">
    <h1>My Wishlists</h1>
    
    <div class="row">
        <% @products.each do |product| %>
            <%= render 'products/product', product: product %>
        <% end %>
    </div>
</div>


