<div class="category-list text-center fw-bold">
    <% @categories.each do |category| %>
        <%= link_to category.name, category, class: "me-3 my-1 #{category_list_page?('categories')} #{ 'btn btn-secondary fw-bold' if controller_name == 'categories' && @category.id == category.id }" %>
    <% end %>
</div>