<div class="category-list text-center fw-bold">
    <% @categories.each do |category| %>
        <%= link_to category.name, category, class: "me-3 #{category_list_page?('categories')}" %>
    <% end %>
</div>