<% provide(:title, "Home") %>

<div class="container border-top py-5">
  <%# render a list of product categories %>
  <%= render 'category_list' %>
  <br>
  <div class="row">
    <%= render @products %>
  </div>
</div>


